<link
  rel="import"
  href="../../../../../bower_components/polymer/polymer-element.html"
/>

<link rel="import" href="../../../../../bower_components/polymer/lib/elements/dom-repeat.html"/>





<dom-module id="menu-app">
  <template>
    <style>
      li{
        list-style: none;
        line-height: 100px;
      }

      .container-menu {
        color: white;
        text-align: center;
        padding: 30px;
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 9999;
      }
      .container-button {
        width: 100%;
        color: white;
        z-index: 10000;
        cursor: pointer;
        margin-left: 350px;
      }

      .isVisible {
        display: block;
      }

      .noVisible {
        display: none;
      }
    </style>
    <div class$="[[isvisible]]">
      <div class="container-button" on-click="changeDisplay">
        Cerrar
      </div> 
      <ul>
      <template is="dom-repeat" items="[[itemsMenu]]">
        <li>[[item]]</li>
      </template>    
    </div>
  </ul>
  </template>
  <script>
    class MenuApp extends Polymer.Element {
      static get is() {
        return "menu-app";
      }

      static get properties() {
        return {
          isvisible: {
            type: String,
            value: "container-menu noVisible",
          },
          msj:{
              type:String,
              value:"no"
          },
          itemsMenu:{
            type:Array,
            value(){
              return[
                "Inicio", "Buscador", "Series TV", "Peliculas", "Mi lista", "Mi perfil"
              ]
            }
          }
        };
      }

      changeDisplay() {
        this.isvisible === "container-menu isVisible" ? (this.isvisible = "container-menu noVisible") : (this.isvisible = "container-menu isVisible");
      }
    }

    customElements.define(MenuApp.is, MenuApp);
  </script>
</dom-module>
