<link
  rel="import"
  href="../../../../bower_components/polymer/polymer-element.html"
/>

<link rel="import" href="./menu/menu-app.html" />

<dom-module id="navbar-app">
  <template>
    <style>
      .container-navbar {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
      }
      .container-navbar div {
        width: 50%;
      }
      .container-logo {
        text-align: left;
      }
      .container-btnmenu {
        text-align: right;
        cursor: pointer;
      }
    </style>
    <div class="container-navbar">
      <div class="container-logo">Movies</div>
      <div on-click="changeDisplay" class="container-btnmenu">
        Menu
        <div><menu-app isvisible="[[isvisible]]"></menu-app></div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NavBarApp extends Polymer.Element {
      static get is() {
        return "navbar-app";
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: "navbar-app",
          },
          isvisible: {
            type: String,
            value: "container-menu noVisible",
          },
        };
      }

      ready() {
        super.ready();
        console.log('Ejecutándose ready');
        const carro = { nombre : "alejo", apellido : "quiroga"}
        console.log(carro.nombre)
        const { apellido }= carro
        console.log(apellido)
      }

      changeDisplay() {
        this.isvisible === "container-menu isVisible"
          ? (this.isvisible = "container-menu noVisible")
          : (this.isvisible = "container-menu isVisible");
      }
    }

    customElements.define(NavBarApp.is, NavBarApp);
  </script>
</dom-module>
