<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="body-app">
    <template>
        <style>
            .container-body{
              display: flex;
              height: 100%;
              background-color: red;
              color:white;
          }

        </style>
        <div class="container-body"><h1>Body</h1></div>
    </template>

    <script>
        class BodyApp extends Polymer.Element{
            static get is() {return 'body-app';}


        }
        customElements.define(BodyApp.is, BodyApp);
    </script>
</dom-module>