<!-- <link rel="import" href="../../../../bower_components/polymer/polymer-element.html"> -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="footer-app">
    <template>
        <style>
             .container-footer{
              display: flex;
            

        </style>
        <div class="container-footer"><h1>Footer</h1></div>
        
    </template>

    <script>
        class FooterApp extends Polymer.Element{
            static get is() {return 'footer-app';}
    
    
        }
        customElements.define(FooterApp.is, FooterApp);
    </script>


</dom-module>