<link rel="import" href="/bower_components/polymer/polymer-element.html">

<!-- components -->
<link rel="import" href="../card/card-app.html">

<dom-module id="series-app">
    <template >
        <style>
            .container-series{
                display: flex;
                flex-direction: column;
                height: 100%;
                width:100%;          
            }

            .container-series-cards{
                display: flex;
                width: 100%;
                justify-content: space-between;                
            }

            card-app{
                width:18%;
            }
        </style>

        <div class="container-series">
        <h1>Series</h1>
        <div class="container-series-cards">
            <template is="dom-repeat" items=[[listSeries]]>
                <card-app movie=[[item]]  kind="serie" ></card-app>
            </template>
            
        </div>

        </div>
    
        
    
    
    </template>

    <script>
        class SeriesApp extends Polymer.Element{

            static get is(){return "series-app"}

            static get properties(){
                    return {
                        image : {
                            type : String
                        },

                        API_KEY:{
                            type : String,
                            value : "9f7457883812f9b2f8e3a75fb1d4c021"
                        },

                       

                        SERIESPOPULARURL : {
                            type : String,
                            value : ``
                        }, 

                        listSeries : {
                            type : String,
                            value(){
                                return []
                            }
                        }
                    }
                }

            constructor(){
                    super()
                    this.image = ""
                    this.API_KEY = "9f7457883812f9b2f8e3a75fb1d4c021"
                    this.SERIESPOPULARURL = `https://api.themoviedb.org/3/tv/popular?api_key=${this.API_KEY}&language=en-US&page=`;
                }

                async ready(){
                    super.ready()
                    this.listSeries = await this.fecthSeries()

                   
                    

                }

                async fecthSeries(){
                    const data = await fetch(this.SERIESPOPULARURL).then(data => data.json())

                    return data.results.slice(0,5)
                }


        }

        customElements.define(SeriesApp.is, SeriesApp)
    </script>
    

</dom-module>
