<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html"></link>
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="footer-column-app">
    <template>
      <style>
        .container-column{
          display: flex;
          padding:10px;
          width:100%;
        }

        li{
      list-style: none;
      line-height: 40px;
      cursor: pointer;
    }
      </style>
        <div class="container-column">
          <ul>
            <template is="dom-repeat" items="[[lista]]">
              <li>
                [[item]]
              </li>

            </template>
            
          </ul>
          
        </div>
    </template>

    <script>
        class FooterColumn extends Polymer.Element{
            static get is() { return "footer-column-app"}

            static get properties() {
    return {
      lista: {
        type: Array,
        value: 'feliz'
      }
    }
  }



        }

        customElements.define(FooterColumn.is, FooterColumn)
    </script>
</dom-module>